/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    font-size: 100%;
}

/* body */
body {
    font-family: "Poppins", 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    margin-bottom: 100px;
}

body strong {
    color: hotpink;
}

/* header */
header {
    background-color: rgb(255, 200, 125);
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

header a {
    color: white;
    padding: 1em 10px;
    text-decoration: none;
}

header a:hover{
    color: hotpink;
}

header ul {
    display: flex;
    justify-content: right;
    list-style: none;
    padding-top: 1em;
}

/* headings */
h1 {
    font-family: "Fascinate";
    font-size: 36px;
}

h3 {
    color: hotpink;
}

/* links */
a {
    color: hotpink;
}

/* footer */
footer {
    min-height: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 200, 125);
    color: white;
}

footer p {
    text-align: center;
}

/* images */
figure {
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px 10px;
    margin: 10px;
    max-width: fit-content;
    max-height: fit-content;
}

figcaption {
    text-align: center;
}

img {
    max-width: 100%;
}

/* about me page */
.container {
    display: flex;
    justify-content: space-between;
}

#bio h3 {
    color: rgb(203, 193, 229);
}

/* bio tables */
#bio table, #bio table td, #bio table th {
    border: 1px solid black;
    padding: 5px 5px;
    border-collapse: collapse;
    text-align: center;
}

#bio table thead {
    background-color: rgb(255, 200, 125);
    color: hotpink;
}

/* contact */
#contact table {
    width: 100%;
    text-align: center;
    max-height: fit-content;
}

#contact table a {
    border-radius: 50px;
    background-color: hotpink;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
}

#contact table a:hover {
    background-color: rgb(255, 200, 125);
}

.even {
    color: rgb(160, 0, 53);
}

/* media queries */
@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
    }

/* header adjustment */
    header {
        text-align: center;
        flex-direction: column;
    }

    header ul {
        display: flex;
        flex-direction: column;
        padding-top: 0em;
    }
}