/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    font-size: 100%;
}

/* body */
body {
    font-family: "Poppins", "courier";
    display: flex;
    flex-direction: column;
}

body strong {
    color: hotpink;
}

/* header */
header {
    background-color: rgb(255, 200, 125);
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

header a {
    color: white;
    padding: 1em 10px;
    text-decoration: none;
}

header a:hover{
    color: hotpink;
}

header ul {
    display: flex;
    justify-content: right;
    list-style: none;
    padding-top: 1em;
}

/* headings */
h1 {
    font-family: "Fascinate";
    font-size: 36px;
}

h3 {
    color: hotpink;
}

/* links */
a {
    color: hotpink;
}

/* footer */
footer {
    min-height: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 200, 125);
    color: white;
}

footer p {
    text-align: center;
}

/* images */
figure {
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px 10px;
    max-width: fit-content;
}

figcaption {
    text-align: center;
}

img {
    max-width: 100%;
}
